Source: percona-ppg-server-ha-16
Section: database
Priority: optional
Maintainer: Percona Development Team <info@percona.com>
Standards-Version: 16.3.0
Homepage: www.percona.com

Package: percona-ppg-server-ha-16
Architecture: any
Depends:
 etcd | etcd-server,
 etcd-client,
 percona-patroni,
 percona-haproxy
Description: Essential / key PostgreSQL16 high availability components
 Percona Distribution for PostgreSQL features core components, tools and add-ons
 from the community, tested to work together in demanding enterprise environments
