Source: percona-pgbackrest
Section: database
Priority: optional
Maintainer: Percona Development Team <info@percona.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               libbz2-dev,
               liblz4-dev,
               libpq-dev,
               libssh2-1-dev,
               libssl-dev,
               libxml-checker-perl,
               libxml2-dev,
               libyaml-dev,
               libyaml-libyaml-perl (>= 0.67),
               libzstd-dev,
               meson,
               perl,
               pkgconf,
               python3 (>= 3.10) | python3-distutils,
               txt2man,
               zlib1g-dev
Standards-Version: 4.7.2
Homepage: https://www.pgbackrest.org/
Vcs-Git: https://salsa.debian.org/postgresql/pgbackrest.git
Vcs-Browser: https://salsa.debian.org/postgresql/pgbackrest

Package: percona-pgbackrest
Architecture: any
Depends: postgresql-common | percona-postgresql-common , ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Provides: pgbackrest
Suggests: pgbackrest-doc, check-pgbackrest
Description: Reliable PostgreSQL Backup & Restore
 pgBackRest is a simple, reliable backup and restore system for PostgreSQL
 that can seamlessly scale up to the largest databases and workloads.
 .
 This package contains all required binaries, scripts and libraries.

Package: percona-pgbackrest-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Provides: pgbackrest-doc
Description: Documentation package for pgbackrest
 pgBackRest is a simple, reliable backup and restore system for PostgreSQL
 that can seamlessly scale up to the largest databases and workloads.
 .
 The pgBackRest documentation contains detailed information about the
 configuration and usage of pgBackRest.

