Source: percona-postgresql-common
Section: database
Priority: optional
Maintainer: Percona Development Team <info@percona.com>
Build-Depends:
 debhelper (>= 9),
 debhelper (>= 10.1) | dh-systemd (>= 1.19),
 libreadline-dev,

Package: percona-postgresql-common
Architecture: all
Multi-Arch: foreign
Depends: postgresql-common (= ${binary:Version})
Description: Virtual package to satisfy dependencies

Package: percona-postgresql-common-dev
Architecture: all
Multi-Arch: foreign
Depends:
 libipc-run-perl,
 ${misc:Depends}
Breaks:
 postgresql-client-common (<< 277),
 percona-postgresql-client-common (<< 277),
 postgresql-common (<< 277),
 percona-postgresql-common (<< 277),
 postgresql-server-dev-all (<< 277),
 percona-postgresql-server-dev-all (<< 277)
Replaces:
 postgresql-client-common (<< 277),
 percona-postgresql-client-common (<< 277),
 postgresql-common (<< 277),
 percona-postgresql-common (<< 277),
 postgresql-server-dev-all (<< 277),
 percona-postgresql-server-dev-all (<< 277)
Provides: postgresql-common-dev
Description: extension build tool for multiple PostgreSQL versions
 The postgresql-server-dev-all package provides the pg_buildext script for
 simplifying packaging of a PostgreSQL extension supporting multiple major
 versions of the product, and dh_make_pgxs which builds a template debian/
 source package directory based on pg_buildext.
 .
 PostgreSQL is a fully featured object-relational database management
 system. It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects. Its features include ACID
 transactions, foreign keys, views, sequences, subqueries, triggers,
 outer joins, multiversion concurrency control, and user-defined types
 and functions.



#Package: percona-postgresql-common-dev
#Architecture: all
#Multi-Arch: foreign
#Pre-Depends: postgresql-common-dev (= ${binary:Version}),
#Description: Virtual package to satisfy dependencies

Package: postgresql-common
Architecture: all
Multi-Arch: foreign
Depends:
 adduser,
 debconf (>= 0.5.00) | debconf-2.0,
 libjson-perl,
 sysvinit-utils (>= 3.05-4~) | lsb-base (>= 3.0-3),
 perl (>= 5.14),
 percona-postgresql-client-common | postgresql-client-common,
 percona-postgresql-common,
 percona-postgresql-common-dev,
 ssl-cert (>= 1.0.11),
 ucf,
 ${misc:Depends}
Recommends:
 e2fsprogs,
 logrotate
Breaks:
 postgresql-9.1 (<< 9.1.1-3~),
 systemd (<< 204),
 postgresql-server-dev-all (<< 204),
 percona-postgresql-server-dev-all (<< 204)
Provides:
 postgresql-common, percona-postgresql-common
Replaces:
 postgresql-server-dev-all (<< 204),
 percona-postgresql-server-dev-all (<< 204),
 postgresql-common
Conflicts: postgresql-common
Description: PostgreSQL database-cluster manager
 The postgresql-common package provides a structure under which
 multiple versions of PostgreSQL may be installed and/or multiple
 clusters maintained at one time.
 .
 The commands provided are pg_conftool, pg_createcluster, pg_ctlcluster,
 pg_dropcluster, pg_lsclusters, pg_renamecluster, pg_upgradecluster,
 pg_virtualenv.
 .
 PostgreSQL is a fully featured object-relational database management
 system. It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects. Its features include ACID
 transactions, foreign keys, views, sequences, subqueries, triggers,
 outer joins, multiversion concurrency control, and user-defined types
 and functions.

Package: postgresql-client-common
Architecture: all
Multi-Arch: foreign
Depends:
 netbase,
 postgresql-client-common,
 ${misc:Depends},
 ${pgdg:Depends}
Recommends:
 lsb-release,
 ${readline:Recommends}
Replaces: percona-postgresql-client-common
Provides: postgresql-client-common, percona-postgresql-client-common
Description: manager for multiple PostgreSQL client versions
 The postgresql-client-common package provides a structure under which
 multiple versions of PostgreSQL client programs may be installed at
 the same time. It provides a wrapper which selects the right version
 for the particular cluster you want to access (with a command line
 option, an environment variable, /etc/postgresql-common/user_clusters,
 or ~/.postgresqlrc).
 .
 PostgreSQL is a fully featured object-relational database management
 system. It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects. Its features include ACID
 transactions, foreign keys, views, sequences, subqueries, triggers,
 outer joins, multiversion concurrency control, and user-defined types
 and functions.

Package: percona-postgresql-server-dev-all
Architecture: all
Depends:
 make,
 percona-postgresql-common (>= 117~),
 percona-postgresql-common-dev,
 ${misc:Depends},
 ${server-dev-all-depends}
Provides: postgresql-server-dev-all
Replaces: postgresql-server-dev-all, percona-postgresql-server-dev-all
Description: extension build tool for multiple PostgreSQL versions
 The postgresql-server-dev-all package provides the pg_buildext script for
 simplifying packaging of a PostgreSQL extension supporting multiple major
 versions of the product, and dh_make_pgxs which builds a template debian/
 source package directory based on pg_buildext.
 .
 PostgreSQL is a fully featured object-relational database management
 system. It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects. Its features include ACID
 transactions, foreign keys, views, sequences, subqueries, triggers,
 outer joins, multiversion concurrency control, and user-defined types
 and functions.

Package: percona-postgresql
Architecture: all
Depends:
 percona-postgresql-${default-version},
 ${misc:Depends}
Suggests:
 percona-postgresql-doc
Provides: postgresql
Replaces: postgresql, percona-postgresql
Description: object-relational SQL database (supported version)
 This metapackage always depends on the currently supported PostgreSQL
 database server version.
 .
 PostgreSQL is a fully featured object-relational database management
 system.  It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects.  Some of the features are:
 ACID transactions, foreign keys, views, sequences, subqueries,
 triggers, user-defined types and functions, outer joins, multiversion
 concurrency control.  Graphical user interfaces and bindings for many
 programming languages are available as well.

Package: percona-postgresql-client
Architecture: all
Multi-Arch: foreign
Depends:
 percona-postgresql-client-${default-version} | postgresql-client-${default-version},
 ${misc:Depends}
Provides: postgresql-client
Description: front-end programs for PostgreSQL (supported version)
 This metapackage always depends on the currently supported database
 client package for PostgreSQL.
 .
 PostgreSQL is a fully featured object-relational database management
 system.  It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects.  Some of the features are:
 ACID transactions, foreign keys, views, sequences, subqueries,
 triggers, user-defined types and functions, outer joins, multiversion
 concurrency control.  Graphical user interfaces and bindings for many
 programming languages are available as well.

Package: percona-postgresql-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends:
 percona-postgresql-doc-${default-version} | postgresql-doc-${default-version},
 ${misc:Depends}
Provides: postgresql-doc
Description: documentation for the PostgreSQL database management system
 This metapackage always depends on the currently supported PostgreSQL
 database documentation package.
 .
 PostgreSQL is a fully featured object-relational database management
 system.  It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects.  Some of the features are:
 ACID transactions, foreign keys, views, sequences, subqueries,
 triggers, user-defined types and functions, outer joins, multiversion
 concurrency control.  Graphical user interfaces and bindings for many
 programming languages are available as well.

Package: percona-postgresql-contrib
Architecture: all
Depends:
 percona-postgresql-contrib-${default-version},
 ${misc:Depends}
Provides: postgresql-contrib
Replaces: postgresql-contrib, percona-postgresql-contrib
Description: additional facilities for PostgreSQL (supported version)
 This metapackage always depends on the currently supported PostgreSQL
 database contrib package.
 .
 PostgreSQL is a fully featured object-relational database management
 system.  It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects.  Some of the features are:
 ACID transactions, foreign keys, views, sequences, subqueries,
 triggers, user-defined types and functions, outer joins, multiversion
 concurrency control.  Graphical user interfaces and bindings for many
 programming languages are available as well.

Package: percona-postgresql-all
Architecture: all
Depends:
 libecpg-dev,
 libpq-dev,
 percona-postgresql-server-dev-all,
 percona-postgresql-common,
 ${postgresql-all-depends},
 ${misc:Depends}
Provides: postgresql-all
Replaces: postgresql-all, percona-postgresql-all
Description: metapackage depending on all PostgreSQL server packages
 This metapackage depends on all PostgreSQL server packages, in all
 supported versions (excluding documentation and debug symbols). It
 exists to facilitate depending on the server packages in test
 environments.
 .
 PostgreSQL is a fully featured object-relational database management
 system.  It supports a large part of the SQL standard and is designed
 to be extensible by users in many aspects.  Some of the features are:
 ACID transactions, foreign keys, views, sequences, subqueries,
 triggers, user-defined types and functions, outer joins, multiversion
 concurrency control.  Graphical user interfaces and bindings for many
 programming languages are available as well.
