Source: percona-ppg-server-14
Section: database
Priority: optional
Maintainer: Percona Development Team <info@percona.com>
Standards-Version: 14.4 
Homepage: https://www.percona.com/software/postgresql-distribution

Package: percona-ppg-server-14
Architecture: any
Depends: 
 percona-postgresql-14, 
 percona-postgresql-common, 
 percona-postgresql-contrib, 
 percona-postgresql-14-pgaudit, 
 percona-postgresql-14-repack, 
 percona-postgresql-14-wal2json  
 percona-pg-stat-monitor14, 
Description: base selection of PostgreSQL14 components 
 This package provides the best and most critical Percona Distribution for PostgreSQL
 enterprise components from the open-source community, in a single distribution,
 designed and tested to work together.
