Source: percona-pg-gather
Maintainer: Percona Development Team <info@percona.com>
Section: misc
Priority: optional
Standards-Version: @@PGGATHERVERSION@@


Package: percona-pg-gather
Architecture: any
Depends: percona-postgresql-@@PGMAJOR@@
Description: pg_gather consists of one sql-only script (gather.sql) for gathering performance and configuration data from PostgreSQL databases.
