#!/usr/bin/make -f

include /usr/share/postgresql-common/pgxs_debian_control.mk

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_clean:
	rm -rf build

override_dh_auto_build:
	make USE_PGXS=1 \
    CXX="clang++-21" \
    CXXFLAGS="-stdlib=libc++" \
    LDFLAGS="-L/usr/lib/llvm-21/lib" \
    PG_CONFIG=/usr/lib/postgresql/@@PGMAJOR@@/bin/pg_config \
    USE_LIBCXX=1 \
    with_llvm=no

override_dh_auto_install:
	make USE_PGXS=1 install DESTDIR=$(CURDIR)/debian/tmp \
	PG_CONFIG=/usr/lib/postgresql/@@PGMAJOR@@/bin/pg_config \
	with_llvm=no

override_dh_auto_test:

override_dh_installdocs:
	dh_installdocs --all README.*
