Source: psycopg2
Section: python
Priority: optional
Build-Depends: python-all-dev, python-all-dbg,
 python3-all-dev, python3-all-dbg, dh-python,
 libpq-dev, python3-sphinx (>= 1.0.7+dfsg-1~)
Maintainer: Percona Development Team <info@percona.com>
Standards-Version: 4.3.0
Homepage: http://initd.org/projects/psycopg

Package: python3-psycopg2
Architecture: any
Depends: python3, libc6, libpq5
Description: Python 3 module for PostgreSQL
 psycopg is a PostgreSQL database adapter for the Python3 programming language
 (just like pygresql and popy.) This is version 2, a complete rewrite of the
 original code to provide new-style classes for connection and cursor objects
 and other sweet candies. Like the original, psycopg 2 was written with the
 aim of being very small and fast, and stable as a rock.
 .
 psycopg is different from the other database adapter because it was designed
 for heavily multi-threaded applications that create and destroy lots of
 cursors and make a conspicuous number of concurrent INSERTs or UPDATEs.
 psycopg 2 also provides full asynchronous operations for the really brave
 programmer.
 .
 The main advantages of psycopg2 are that it supports the full Python DBAPI-2.0
 and being thread safe at level 2. It also includes some extensions to the
 standard DBAPI-2.0 to allow for better thread performance.

Package: python3-psycopg2-dbg
Architecture: any
Section: debug
Depends: python3-psycopg2 (= ${binary:Version}), python3-dbg
Description: Python 3 module for PostgreSQL (debug extension)
 psycopg is a PostgreSQL database adapter for the Python3 programming language
 (just like pygresql and popy.) This is version 2, a complete rewrite of the
 original code to provide new-style classes for connection and cursor objects
 and other sweet candies. Like the original, psycopg 2 was written with the
 aim of being very small and fast, and stable as a rock.
 .
 This package contains the extensions built for the Python debug interpreter.
